body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  input {
    outline: none;
    font-size: 1.0rem;
    padding: 0 5px;
  }
  
  button {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 3px 15px;
    color: white;
    line-height: 25px;
    background-color: #00bcd4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
    outline: none;
  }
  
  button:hover {
    background-color: #79d7e4;
  }
  
  button.turn:hover {
    background-color: #eaeaea;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgrey;
    overflow-y: scroll;
  }
  
  /*li {
    padding: 10px 10px 10px 10px;
  }*/
  
  canvas {
    display: block;
    margin: 10px auto;
  }

  .main-panel {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    display: flex;
    align-content: center;
  }

  .game-interface {
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
  }

  .scoreboard-panel {
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
  }
  
  .controls-wrapper {
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 20px auto;
    border: 1px solid lightgrey;
  }
  
  .chat-wrapper {
    padding: 10px;
  }
  
  .chat-wrapper form {
    display: flex;
  }
  
  .chat-wrapper form input {
    font-size: 1.0rem;
    margin: 0 10px 0 0;
    padding: 0 5px;
    flex-grow: 1;
  }
  
  .chat-wrapper form button {
    width: 80px;
  }

  .dice-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 20px auto;
  }

  .dice {
    width: 20%;
    flex: 1;
    height: auto;
  }

  .dice img {
    width: 100%;
    height: auto;
  }
  
  #events {
    height: 150px;
  }

  /* Modal e notificações */

.modal-container{
  z-index: 3000;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.modal-content{
  min-width: 200px;
  max-width: 500px;
  margin : 10% auto;
  background-color: #ffffff;
  padding: 20px;
}

.modal-content input[type='text']{
  display: block;
  padding: 12px 8px;
  border: 1px solid #e3e3e3;
  width: 100%;
}

.modal-content button{
  margin-top: 10px;
  background-color: rgb(23, 49, 70, 1);
  display: block;
  padding: 12px 8px;
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.modal-content button:disabled{
  background-color: rgb(23, 49, 70, .5);
  cursor: not-allowed;
}

.modal-content #userForm strong{
  display: block;
  padding: 7px;
  color: #5e131b;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #ffdcdc;
  border-radius: 5px;
}

.modal-overlay{
  z-index: 2000;
  background-color: rgba(0,0,0,.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

div.notification{
  z-index: 4000;
  position: fixed;
  top: -100px;
  left: 34%;
  width: 30%;
  border-radius: 5px;
  font-size: 14px;
  padding: 7px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  border: 1px solid transparent;
  line-height: 1.3em;
  transition: top .2s ease-in-out;
  font-weight: 500;
}

div.notification.show{
  top: -5px;
}

div.notification.info{
  color: #6b5208;
  background-color: #fff5d3;
  border-color: #f1dfa9;
}

div.notification.success{
  background-color: #e2f8e7;
  color: #0f4e1d;
  border-color: #a7d1b1;
}

div.notification.danger{
  color: #66131b;
  background-color: #fcd4d7;
  border-color: #dfa3a9;
}

/* Interface */

.players-table {
  width: 100%;
}

.players-table td {
  text-align: center;
}

.players-table td:first-child {
  text-align: left;
}​

.players-table th {
  text-align: center;
}

.players-table th:first-child {
  text-align: left;
}

.players-box {
  width: 400px;
  margin: 20px auto;
  border: 1px solid lightgrey;  
  position: relative;
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
}

.current-player {
  width: 400px;
  margin: 20px auto;
  border: 1px solid lightgrey;  
  position: relative;
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
}

/* Toggle Switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #00bcd4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00bcd4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}