/* Gerais */

body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
}

button:disabled {
  background-color: #aaaaaa;
}  

button:hover:not([disabled]) {
  background-color: #79d7e4;
}

button.turn:hover {
  background-color: #eaeaea;
}

/* Main Panel */

.main-panel {
  width: 100%;
  text-align: center;
}

/* Inner Panels */

.choices-panel {
  float:left;
  width:34%;
} 

.game-interface {
  float:left;
  width:33%;
}

.scoreboard-panel {
  float:right;
  width:33%;
}

@media screen and (max-width: 770px) {
  .choices-panel{width:100%; overflow-x: auto;-webkit-overflow-scrolling: touch;}
  .game-interface {width:100%; overflow-x: auto;-webkit-overflow-scrolling: touch;}
  .scoreboard-panel {width:100%; overflow-x: auto;-webkit-overflow-scrolling: touch;}
}

/* Choices Panel */

/* Rolled Dice Container */
.dice-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: 20px auto;
}

.dice {
  width: 20%;
  flex: 1;
  height: auto;
}

/* Dice choices table */

.dice img {
  width: 100%;
  height: auto;
}

.fifthdice-choice {
  width: 53%;
  height: auto;
}

.dice-choice {
  width: 95%;
  height: auto;
}

.choices-table  {
  border-collapse:collapse;
  border-spacing:0;
}

.choices-table td{
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:2px 2px;
  word-break:normal;
}

.choices-table th{
  border-color:black;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.choices-table .tg-9wq8{
  border-color:inherit;
  text-align:center;
  vertical-align:middle
}

.choices-table .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}

.choices-table .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}

/* Game Interface */

.players-box {
  border: 1px solid lightgrey;  
  position: relative;
  text-align: center;
}

.controls-wrapper {
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgrey;
}

.chat-wrapper {
  padding: 10px;
  text-align: center;
}

#events {
  height: 300px;
}

.messagesul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  overflow-y: scroll;
  text-align: left;
}

/*li {
  padding: 10px 10px 10px 10px;
}*/

.players-table {
  width: 100%;
}

.players-table td {
  text-align: center;
}

.players-table td:first-child {
  text-align: left;
}​

.players-table th {
  text-align: center;
}

.players-table th:first-child {
  text-align: left;
}

/* Scoreboard Panel */

.scoreboard-panel{
  align-items: center;
} 

/* Score Table */
.scoreTable  {
  border-collapse:collapse;
  border-spacing:0;
  border-color:black;
  margin: auto
}

.scoreTable td{
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:12px;
  overflow:hidden;
  padding:5px 5px;
  word-break:normal;
}

.scoreTable th{
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:12px;
  font-weight:normal;
  overflow:hidden;
  padding:5px 5px;
  word-break:normal;
}

.scoreTable .tg-18eh{
  border-color:#000000;
  font-weight:bold;
  text-align:center;
  vertical-align:middle
}

.scoreTable .tg-te0j{
  background-color:#c0c0c0;
  border-color:#000000;
  font-weight:bold;
  text-align:center;
  vertical-align:middle
}

.scoreTable .tg-mqa1{
  border-color:#000000;
  font-weight:bold;
  text-align:center;
  vertical-align:top
}

/* Modal e notificações */

.modal-container{
  z-index: 3000;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.modal-content{
  min-width: 200px;
  max-width: 500px;
  margin : 10% auto;
  background-color: #ffffff;
  padding: 20px;
}

.modal-content input[type='text']{
  display: block;
  padding: 12px 8px;
  border: 1px solid #e3e3e3;
  width: 100%;
}

.playernameinput {
  outline: none;
  font-size: 1.0rem;
  padding: 0 5px;
}

.modal-content button{
  margin-top: 10px;
  background-color: rgb(23, 49, 70, 1);
  display: block;
  padding: 12px 8px;
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.modal-content button:disabled{
  background-color: rgb(23, 49, 70, .5);
  cursor: not-allowed;
}

.modal-content #userForm strong{
  display: block;
  padding: 7px;
  color: #5e131b;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #ffdcdc;
  border-radius: 5px;
}

.modal-overlay{
  z-index: 2000;
  background-color: rgba(0,0,0,.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

div.notification{
  z-index: 4000;
  position: fixed;
  top: -100px;
  left: 34%;
  width: 30%;
  border-radius: 5px;
  font-size: 14px;
  padding: 7px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  border: 1px solid transparent;
  line-height: 1.3em;
  transition: top .2s ease-in-out;
  font-weight: 500;
}

div.notification.show{
  top: -5px;
}

div.notification.info{
  color: #6b5208;
  background-color: #fff5d3;
  border-color: #f1dfa9;
}

div.notification.success{
  background-color: #e2f8e7;
  color: #0f4e1d;
  border-color: #a7d1b1;
}

div.notification.danger{
  color: #66131b;
  background-color: #fcd4d7;
  border-color: #dfa3a9;
}